@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face { font-family: sans-serif; src: url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap") format("woff"); font-weight: 800;}

body {
    font-family: sans-serif;
    cursor: default;
    background-color: #1b1a1a;
    color: #e6e4e4;
}

.contact-grid {
    grid-template-columns: 1em 1fr;
}